/* header and navigation bar font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Lora:wght@400;600&family=Parisienne&display=swap');

body {
  text-align: center;
  background-color: white;
}

/* closes the gaps of nav bar and footer */
 * {
     margin:0;
     padding:0;
     font-size:100%;
     font:inherit;
     vertical-align:baseline;
     box-sizing:border-box;
 }

/* Header Style*/
h1 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 5em;
    font-weight: 1500;
    /* margin-top: 40px; */
    /* padding-bottom: 10px; */
    color: #fa96cd;
    padding-top: 28px;
    padding-bottom: 15px;
  }

.h-title {
    text-align: center;
    position: relative;
}

/* Intro paragraph */
h2{
  font-size: 2em;
  font-family: 'Lora', serif;
  font-weight: 600;
  letter-spacing: 1.75px;
  color: #828282;
  padding: 40px; /* adds border gaps around */
}
.intro-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 300px; /* adds border gaps around */
}
/* Navigation Bar Style*/
.h-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #ffebf6;
}
.h-nav-wrapper {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    text-align: center;
    margin: 0% 10;
    padding-left: 65px;
}
.h-nav-bar > .h-nav-wrapper > div {
    margin-right: 20px;
    letter-spacing: 1.75px;
    font-size: 1.5em;
    /* text-transform: uppercase; */
}
.h-nav-link-wrapper {
    height: 22px;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.5s;
}
.h-nav-link-wrapper a{
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #737373; /* dark grey */
    opacity: 95%;
    text-decoration: none;
    transition: color 0.5s;
}
 .h-nav-link-wrapper a:hover {
    /* grey color */
    /* color: #8a8a8a; */
    color: #fa96cd; /*pink highlight*/
 }

/* body for other pages */
.about-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 300px; /* adds border gaps around */
}
.projects-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 300px; /* adds border gaps around */
}
.resume-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 100px; /* adds border gaps around */
}
.hobbies-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 300px; /* adds border gaps around */
}
.contact-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-bottom: 300px; /* adds border gaps around */
}

 #footer{
   position: absolute;
   padding: 55px;
   /* bottom: 0px;
   left: 0px;
   right: 0px;
   margin-bottom: 0px; */
   width: 100%;
   display: block;
   background-color: #ffebf6;
   opacity: 90%;
 }

.f-container {
    font-family: 'Raleway', sans-serif;
    font-size: 75%;
    font-weight: lighter;
    text-align: left;
    height: 20px;
    color: #8a8a8a;
}
