/* header and navigation bar font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Lora:wght@400;600&family=Parisienne&display=swap');

body {
  /* text-align: center; */
  background-color: white;
  position: relative;
  min-height: 100vh;
}

/* closes the gaps of nav bar and footer */
 * {
     margin:0;
     padding:0;
     font-size:100%;
     font:inherit;
     vertical-align:top;
     box-sizing:border-box;
 }

/* Highlighting specific words*/
 mark{
   color: #fa96cd;
   background-color: white; /* default highlight color is yellow */
 }

/* Header Style*/
h1 {
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 5em;
    font-weight: 1500;
    /* margin-top: 40px; */
    /* padding-bottom: 10px; */
    color: #fa96cd;
    padding-top: 28px;
    padding-bottom: 15px;
  }

.h-title {
    text-align: center;
    position: relative;
}

h2{
  text-align: center;
  font-size: 2em;
  font-family: 'Lora', serif;
  font-weight: 600;
  letter-spacing: 1.75px;
  color: #828282;
  padding-top: 40px; /* adds border gaps around */
  /* text-decoration: underline; */
}
h3{
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
}

/* Navigation Bar Style*/
.h-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #ffebf6;
}
.h-nav-wrapper {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    text-align: center;
    margin: 0% 10;
    padding-left: 65px;
}
.h-nav-bar > .h-nav-wrapper > div {
    margin-right: 20px;
    letter-spacing: 1.75px;
    font-size: 1.5em;
    /* text-transform: uppercase; */
}
.h-nav-link-wrapper {
    height: 22px;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.5s;
}
.h-nav-link-wrapper a{
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #737373; /* dark grey */
    opacity: 95%;
    text-decoration: none;
    transition: color 0.5s;
}
 .h-nav-link-wrapper a:hover {
    /* grey color */
    /* color: #8a8a8a; */
    color: #fa96cd; /*pink highlight*/
 }

/* Home paragraph */
.intro-para{
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
}
.intro h3{
  font-size: 18px;
}
.intro-para a:link, .intro-para a:visited{
  color: #fa96cd; 
}
.intro a:link, .intro a:visited{
  font-size: small;
}
.intro-para a:hover{
  color: #737373;
}
.headshot img{
  float: left;
  padding-right: 25px;
  padding-bottom: 5px;
  height: 250px;
  /* border-radius: 15px;
  border: 3px solid #ffebf6; */
  /* height:200px;
  width:200px; */
  /* background-color: #ffebf6; */
}

/* About Page */
.about-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding: 60px;
}

/* Projects Page */
.projects-para{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding: 60px;
}

/* Resume Page */
.resume-para{
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding-top: 50px;
  padding-bottom: 100px; /* adds border gaps around */
}
.resume-para a:link, .resume-para a:visited{
  font-size: 1em;
  color: #fa96cd;
}
.resume-para a:hover{
  font-size: 1em;
  color: #737373;
}

/* Hobbies Page */
.hobbies-sec{
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding: 30px 30px 0px 30px;
  overflow: hidden;
}
.hobbies-picture{
  float: left;
  padding: 5px;
  /* width: auto;
  height: auto; */
}
.hobbies-picture img{
  padding: 3px;
  max-height:150px;
  height: auto;
}

/* Contact Page */
.contact-para{
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #828282;
  padding: 60px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #828282;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.mes-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.leave-mes-title{
  text-align: center;
  font-size: 30px;
  font-family: 'Lora', serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #828282;
}
.leave-mes{
  width: 600px;
  height: 450px;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  border-style: dashed;
  background: #fff5fa;
}
tr>td{
  padding-bottom: .5em;
  padding-left: .3em;
}
.form-to-email a:link, .form-to-email a:visited, .form-to-email a:hover{
  display: none;
  font-size: 10px;
  color: #737373;
}
/* #submit{
  color: #fa96cd;
} */
/*All Paras - page container */
.intro-para, .about-para, .projects-para, .hobbies-para, .resume-para, .contact-para{
  padding-bottom: 160px;
}

 #footer{
   position: absolute;
   padding: 55px;
   bottom: 0;
   height: 7.5rem;
   width: 100%;
   background-color: #ffebf6;
   opacity: 90%;
 }

.f-container {
    font-family: 'Raleway', sans-serif;
    font-size: 75%;
    font-weight: lighter;
    text-align: center;
    height: 20px;
    color: #8a8a8a;
    margin-bottom: 10px;
}
/*
.fa-footer{
  spacing: 50px;
  padding: 10px;
  width: 30px;
} */
